ESCLAT_EMAIL=el_teu_email@exemple.com
ESCLAT_PASSWORD=la_teva_contrasenya

# Strava (es desen automàticament la primera vegada que executes strava.py)
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_ACCESS_TOKEN=
STRAVA_REFRESH_TOKEN=
STRAVA_TOKEN_EXPIRES=
